.form_addNewEntry {
    width: 800px;
    margin: 0 auto;
    margin-top: 40px;
}
.form-horizontal .control-label{
	text-align: left;
}

#picker-container{
	position:relative;
}

.addButton{
	float:right;
}